
@media (max-width: 800px) {
  mat-cell:first-of-type {
    padding-left: 0px;
  }

  mat-cell:last-of-type {
    padding-right: 0px;
  }
  mat-row::after {
    min-height: 0px;
  }

  .mat-column-districts {
    min-width: inherit;
    max-width: inherit;
  }
}
