table {
    width: 100%;
  }

.button-row {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button-area {
  margin-right: 20px;
}
.actions{
  display: flex;
}

th.mat-header-cell {
  text-align: center;
}
