<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="40%">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordSubmit()">

            <mat-form-field appearance="fill" style="width:30vw">
                <mat-label>Current Password:</mat-label>
                <input matInput type="password" formControlName="currentPassword" class="form-control">
                <div *ngIf="f.currentPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.currentPassword.errors.required">Current password is required</div>
                    <div *ngIf="f.confirmPassword.errors.minlength">Must be at least 6 characters</div>
                </div>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" style="width:30vw">
                <mat-label>New Password:</mat-label>
                <input matInput type="password" formControlName="newPassword" class="form-control">
                <div *ngIf="f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.errors.required">New password is required</div>
                    <div *ngIf="f.newPassword.errors.minlength">Must be at least 6 characters</div>
                </div>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" style="width:30vw">
                <mat-label>Confirm Password:</mat-label>
                <input matInput type="password" formControlName="confirmPassword" class="form-control">
                <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.minlength">Must be at least 6 characters</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
            </mat-form-field>
            <br>

            <mat-card-actions>
                <button class="btn-primary" mat-button type="submit" [disabled]="!changePasswordForm.valid">Submit</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>